*{
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('./assets/bkg.jpeg'); 
  background-size: cover;    
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar li {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.navbar .app-name {
  font-weight: bold;
  font-size: 18px;
}

.navbar li:hover {
  text-decoration: underline;
}

.content-container {
  text-align: center;
  margin-top: 100px; /* Add space below the navbar */
}

.form-folder {
  margin-top: 20px;
  background-color: rgba(200, 7, 7, 0.6);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin-top: 20px;
}

.form-folder input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.form-folder button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-folder button:hover {
  background-color: #45a049;
}

